# Exemplo: local
KONG_ADMIN_URL=http://localhost:8001
KONG_ENV=local

# Exemplo: dev
# KONG_ADMIN_URL=http://kong-dev.empresa.com:8001
# KONG_ENV=dev

# Exemplo: staging
# KONG_ADMIN_URL=http://kong-staging.empresa.com:8001
# KONG_ENV=staging

# Exemplo: prod
# KONG_ADMIN_URL=http://kong-prod.empresa.com:8001
# KONG_ENV=prod
